
<div style="background-color: salmon; padding: 60px;">
    <h1><b>Spark 101
</b></h1>
</div>

In this lesson we will cover the basics of working with spark dataframes, and show how spark dataframes are different from the pandas dataframes we have been working with.

While spark dataframes might superficially look like pandas dataframes, and even share some of the same methods and syntax, it is important to keep in mind they are 2 separate types of objects, and, while spark and pandas code might look superficially similar, it tends to be semantically very different.

In [1]:
import pandas as pd
import numpy as np
import pyspark

# Exercise

## 1. Create a spark data frame that contains your favorite programming languages.

 - The name of the column should be language
 - View the schema of the dataframe
 - Output the shape of the dataframe
 - Show the first 5 records in the dataframe

In [2]:
# To work with spark dataframes, establish a spark session

session = pyspark.sql.SparkSession.builder.getOrCreate()

23/10/29 23:42:11 WARN Utils: Your hostname, Aswathys-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.0.0.28 instead (on interface en0)
23/10/29 23:42:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/10/29 23:42:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
session

In [4]:
# The name of the column should be `language`
fav_langs = session.createDataFrame(pd.DataFrame(
{
    'language': [
        'python',
        'r',
        'c',
        'rust',
        'ruby',
        'c++',
        'java',
        'golang'
    ]
    
}))

In [5]:
# View the schema of the dataframe
fav_langs.printSchema()

root
 |-- language: string (nullable = true)

In [6]:
# Output the shape of the dataframe
# take the count of rows, followed by the length of columns
fav_langs.count(), len(fav_langs.columns)

(8, 1)

In [7]:
# Show the first 5 records in the dataframe
fav_langs.show(5)

+--------+
|language|
+--------+
|  python|
|       r|
|       c|
|    rust|
|    ruby|
+--------+
only showing top 5 rows

# OR

In [72]:
# Create pandas dataframe by columns using dictionary-like object
pd_df = pd.DataFrame({'language': ['Python', 'Java', 'HTML', 'CSS', 'JavaScript','Cobol','GO','C','C++','C-sharp']}, 
                     index = [1, 2, 3, 4, 5,6,7,8,9,10])
pd_df

      language
1       Python
2         Java
3         HTML
4          CSS
5   JavaScript
6        Cobol
7           GO
8            C
9          C++
10     C-sharp

In [73]:
# Convert pandas dataframe to spark dataframe
df = spark.createDataFrame(pd_df)
df

DataFrame[language: string]

In [74]:
df.printSchema()

root
 |-- language: string (nullable = true)

In [75]:
print((df.count(), len(df.columns)))

(10, 1)

In [76]:
df.shape()

(10, 1)

In [77]:
df.show(5)

+----------+
|  language|
+----------+
|    Python|
|      Java|
|      HTML|
|       CSS|
|JavaScript|
+----------+
only showing top 5 rows

In [79]:
#session

In [52]:
df.describe().show()

+-------+--------+
|summary|language|
+-------+--------+
|  count|       5|
|   mean|    NULL|
| stddev|    NULL|
|    min|     CSS|
|    max|  Python|
+-------+--------+

## 2.Load the mpg dataset as a spark dataframe.

In [9]:
from pydataset import data
mpg = session.createDataFrame(data('mpg'))

In [10]:
mpg.show(3)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 3 rows

# OR

### For python
from pydataset import data 

mpg = data ('mpg')

In [53]:
# For Spark
mpg = spark.createDataFrame(data("mpg"))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

## 2. a. Create 1 column of output that contains a message like the one below:


 - The 1999 audi a4 has a 4 cylinder engine.
 - For each vehicle.

Note:-
.withColumn() function:-
DataFrame.withColumn(colName, col)
Returns a new DataFrame by adding a column or replacing the existing column that has the same name.

The PySpark SQL function lit() are used to add a new column to the DataFrame by assigning a literal or constant value.

In [11]:
from pyspark.sql import functions as F

In [12]:
# f.lit() casting on string literals in a f.concat()
mpg.select(
F.concat(F.lit('The '),
mpg.year,
F.lit(' '),
mpg.manufacturer,
F.lit(' '),
mpg.model,
F.lit(' has a '),
mpg.cyl,
F.lit(' cylinder engine.')).alias('car_sentence')).show(truncate=False)

+--------------------------------------------------------------+
|car_sentence                                                  |
+--------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.                     |
|The 1999 audi a4 has a 4 cylinder engine.                     |
|The 2008 audi a4 has a 4 cylinder engine.                     |
|The 2008 audi a4 has a 4 cylinder engine.                     |
|The 1999 audi a4 has a 6 cylinder engine.                     |
|The 1999 audi a4 has a 6 cylinder engine.                     |
|The 2008 audi a4 has a 6 cylinder engine.                     |
|The 1999 audi a4 quattro has a 4 cylinder engine.             |
|The 1999 audi a4 quattro has a 4 cylinder engine.             |
|The 2008 audi a4 quattro has a 4 cylinder engine.             |
|The 2008 audi a4 quattro has a 4 cylinder engine.             |
|The 1999 audi a4 quattro has a 6 cylinder engine.             |
|The 1999 audi a4 quattro has a 6 cylinder engine.             |
|The 2008 audi a4 quattro has a 6 cylinder engine.             |
|The 2008 audi a4 quattro has a 6 cylinder engine.             |
|The 1999 audi a6 quattro has a 6 cylinder engine.             |
|The 2008 audi a6 quattro has a 6 cylinder engine.             |
|The 2008 audi a6 quattro has a 8 cylinder engine.             |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.|
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.|
+--------------------------------------------------------------+
only showing top 20 rows

# OR

In [85]:
mpg.show(1)

+------------+-----+-----+----+---+--------+---+---+---+---+-------+--------------------+
|manufacturer|model|displ|year|cyl|   trans|drv|cty|hwy| fl|  class|              output|
+------------+-----+-----+----+---+--------+---+---+---+---+-------+--------------------+
|        audi|   a4|  1.8|1999|  4|auto(l5)|  f| 18| 29|  p|compact|The 1999 audi a4 ...|
+------------+-----+-----+----+---+--------+---+---+---+---+-------+--------------------+
only showing top 1 row

In [94]:
# Create an output column for information about each vechicle in mpg

mpg = (mpg.withColumn(colName='output',
                      col=concat(lit('The '),'year',lit(''),'manufacturer', lit(''),
                                 'model',lit(' has a '), 'cyl',lit(' cylinder engine.'))))

In [93]:
mpg.show(10)

+------------+----------+-----+----+---+----------+---+---+---+---+-------+--------------------+
|manufacturer|     model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|              output|
+------------+----------+-----+----+---+----------+---+---+---+---+-------+--------------------+
|        audi|        a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|The 1999audia4 ha...|
|        audi|        a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|The 1999audia4 ha...|
|        audi|        a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|The 2008audia4 ha...|
|        audi|        a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|The 2008audia4 ha...|
|        audi|        a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|The 1999audia4 ha...|
|        audi|        a4|  2.8|1999|  6|manual(m5)|  f| 18| 26|  p|compact|The 1999audia4 ha...|
|        audi|        a4|  3.1|2008|  6|  auto(av)|  f| 18| 27|  p|compact|The 2008audia4 ha...|
|        audi|a4 quattro|  1.8|1999|  4|manual(m5)|  4| 18| 26|  p|compact|The 1999audia4 qu...|
|        audi|a4 quattro|  1.8|1999|  4|  auto(l5)|  4| 16| 25|  p|compact|The 1999audia4 qu...|
|        audi|a4 quattro|  2.0|2008|  4|manual(m6)|  4| 20| 28|  p|compact|The 2008audia4 qu...|
+------------+----------+-----+----+---+----------+---+---+---+---+-------+--------------------+
only showing top 10 rows

In [82]:
mpg.select('output').show(truncate=False)

+--------------------------------------------------------------+
|output                                                        |
+--------------------------------------------------------------+
|The 1999 audi a4 has a 4 cylinder engine.                     |
|The 1999 audi a4 has a 4 cylinder engine.                     |
|The 2008 audi a4 has a 4 cylinder engine.                     |
|The 2008 audi a4 has a 4 cylinder engine.                     |
|The 1999 audi a4 has a 6 cylinder engine.                     |
|The 1999 audi a4 has a 6 cylinder engine.                     |
|The 2008 audi a4 has a 6 cylinder engine.                     |
|The 1999 audi a4 quattro has a 4 cylinder engine.             |
|The 1999 audi a4 quattro has a 4 cylinder engine.             |
|The 2008 audi a4 quattro has a 4 cylinder engine.             |
|The 2008 audi a4 quattro has a 4 cylinder engine.             |
|The 1999 audi a4 quattro has a 6 cylinder engine.             |
|The 1999 audi a4 quattro has a 6 cylinder engine.             |
|The 2008 audi a4 quattro has a 6 cylinder engine.             |
|The 2008 audi a4 quattro has a 6 cylinder engine.             |
|The 1999 audi a6 quattro has a 6 cylinder engine.             |
|The 2008 audi a6 quattro has a 6 cylinder engine.             |
|The 2008 audi a6 quattro has a 8 cylinder engine.             |
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.|
|The 2008 chevrolet c1500 suburban 2wd has a 8 cylinder engine.|
+--------------------------------------------------------------+
only showing top 20 rows

In [84]:
mpg.show(3,truncate=False)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+-----------------------------------------+
|manufacturer|model|displ|year|cyl|trans     |drv|cty|hwy|fl |class  |output                                   |
+------------+-----+-----+----+---+----------+---+---+---+---+-------+-----------------------------------------+
|audi        |a4   |1.8  |1999|4  |auto(l5)  |f  |18 |29 |p  |compact|The 1999 audi a4 has a 4 cylinder engine.|
|audi        |a4   |1.8  |1999|4  |manual(m5)|f  |21 |29 |p  |compact|The 1999 audi a4 has a 4 cylinder engine.|
|audi        |a4   |2.0  |2008|4  |manual(m6)|f  |20 |31 |p  |compact|The 2008 audi a4 has a 4 cylinder engine.|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+-----------------------------------------+
only showing top 3 rows

## 2.b Transform the trans column so that it only contains either manual or auto.

In [15]:
# Transform the `trans` column so that it only contains either `manual` or `auto`

# in pandas:
#np.where(mpg.trans.str.startswith('auto'), 'automatic', 'manual')
# to do this in pyspark:
mpg.select(
F.when(
    F.col('trans').startswith('auto'),
'auto').otherwise('manual').alias('transmission_custom')).show(5)

+-------------------+
|transmission_custom|
+-------------------+
|               auto|
|             manual|
|             manual|
|               auto|
|               auto|
+-------------------+
only showing top 5 rows

In [16]:
mpg.select(
F.when(
    F.expr("trans LIKE 'auto%'"),
'auto').otherwise('manual').alias('transmission_custom')).show(5)

+-------------------+
|transmission_custom|
+-------------------+
|               auto|
|             manual|
|             manual|
|               auto|
|               auto|
+-------------------+
only showing top 5 rows

# OR

Once we have a column object, we can use the .alias method to rename it
mpg.select(mpg.hwy.alias("highway_mileage")).show(5)

In [97]:
# Use regex to transform the trans column so that it only contains either manual or auto.

mpg.select(regexp_replace("trans", r"\([^)]*\)", "").alias("transonly")).show(5)

+---------+
|transonly|
+---------+
|     auto|
|   manual|
|   manual|
|     auto|
|     auto|
+---------+
only showing top 5 rows

## Alternate way

In [98]:
mpg.select(regexp_extract("trans", r"^(\w+)", 1).alias("transonly")).show(5)

+---------+
|transonly|
+---------+
|     auto|
|   manual|
|   manual|
|     auto|
|     auto|
+---------+
only showing top 5 rows

## 3.Load the tips dataset as a spark dataframe.

In [17]:
# load up tips from pydataset, feed it into createDataFrame
tips = session.createDataFrame(data('tips'))

## OR

In [99]:
tips = spark.createDataFrame(data("tips"))
tips.show(5)

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
+----------+----+------+------+---+------+----+
only showing top 5 rows

## 3. a What percentage of observations are smokers?

In [19]:
# group by smoker column,
# grab the counts of each subpopulation,
# make a new column (withColumn) called percent
# reference the new aggreagted column count, divide by the length of the df
# multiply by 100 to get the percentage, round the whole thing
# then show
tips.groupBy('smoker').agg(
    F.round(
        (F.count(F.col('smoker')
                ) / tips.count()
        ) * 100, 2).alias('percent_smoker')
).show()

+------+--------------+
|smoker|percent_smoker|
+------+--------------+
|    No|         61.89|
|   Yes|         38.11|
+------+--------------+

In [21]:
# Create a column that contains the tip percentage
tips.withColumn(
    'percent_tip',
    F.round((tips.tip / tips.total_bill) * 100, 2)).select(
    'total_bill', 'tip','percent_tip').show(5)

+----------+----+-----------+
|total_bill| tip|percent_tip|
+----------+----+-----------+
|     16.99|1.01|       5.94|
|     10.34|1.66|      16.05|
|     21.01| 3.5|      16.66|
|     23.68|3.31|      13.98|
|     24.59|3.61|      14.68|
+----------+----+-----------+
only showing top 5 rows

In [22]:
# Calculate the average tip percentage for each combination of sex and smoker.
tips.withColumn(
    'percent_tip',
    F.round((tips.tip / tips.total_bill) * 100, 2)
).groupBy('sex', 'smoker').agg(
    F.round(
        F.mean(
            F.col('percent_tip')
        ),2
    ).alias('mean_group_tip')
).show()

+------+------+--------------+
|   sex|smoker|mean_group_tip|
+------+------+--------------+
|  Male|    No|         16.07|
|Female|    No|         15.69|
|  Male|   Yes|         15.28|
|Female|   Yes|         18.21|
+------+------+--------------+

In [23]:
# pivot table version:
tips.withColumn(
    'percent_tip',
    F.round((tips.tip / tips.total_bill) * 100, 2)
).groupby('sex').pivot('smoker').agg(
    F.round(
        F.mean(
            F.col('percent_tip')
        ),2
    ).alias('mean_group_tip')
).show()

+------+-----+-----+
|   sex|   No|  Yes|
+------+-----+-----+
|Female|15.69|18.21|
|  Male|16.07|15.28|
+------+-----+-----+

## OR

In [100]:
percent_smoke = tips.groupBy('smoker').agg(round(count(tips.smoker)/ tips.count(),2).alias("percent"))

In [60]:
percent_smoke.show()

+------+-------+
|smoker|percent|
+------+-------+
|    No|   0.62|
|   Yes|   0.38|
+------+-------+

38 percent are smokers

In [61]:
#Create a column that contains the tip percentage
tips = tips.withColumn(colName='tip_percentage', col=round(col('tip') / col('total_bill'), 2))
tips.show(10)

+----------+----+------+------+---+------+----+--------------+
|total_bill| tip|   sex|smoker|day|  time|size|tip_percentage|
+----------+----+------+------+---+------+----+--------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|          0.06|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|          0.16|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|          0.17|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|          0.14|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|          0.15|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|          0.19|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|          0.23|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|          0.12|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|          0.13|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|          0.22|
+----------+----+------+------+---+------+----+--------------+
only showing top 10 rows

In [62]:
# Calculate the average tip percentage for each combination of sex and smoker.

avg_tip = tips.groupBy('smoker', 'sex').agg(round(avg('tip_percentage'),4).alias("average_tip")).sort('average_tip', ascending=False)

In [63]:
avg_tip.show()

+------+------+-----------+
|smoker|   sex|average_tip|
+------+------+-----------+
|   Yes|Female|     0.1824|
|    No|  Male|      0.161|
|    No|Female|     0.1569|
|   Yes|  Male|     0.1528|
+------+------+-----------+

It seems that smoking females tip the most, based on this data.

## 4. Use the Seattle weather dataset referenced in the lesson to answer the questions below.

In [30]:
from vega_datasets import data
weather = data.seattle_weather()
weather = session.createDataFrame(weather)

In [31]:
weather.show(2)

+-------------------+-------------+--------+--------+----+-------+
|               date|precipitation|temp_max|temp_min|wind|weather|
+-------------------+-------------+--------+--------+----+-------+
|2012-01-01 00:00:00|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02 00:00:00|         10.9|    10.6|     2.8| 4.5|   rain|
+-------------------+-------------+--------+--------+----+-------+
only showing top 2 rows

## OR

In [64]:
weather = vega.seattle_weather().assign(date=lambda df: df.date.astype(str))
weather = spark.createDataFrame(weather)
weather.show(5)

+----------+-------------+--------+--------+----+-------+
|      date|precipitation|temp_max|temp_min|wind|weather|
+----------+-------------+--------+--------+----+-------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|
+----------+-------------+--------+--------+----+-------+
only showing top 5 rows

## 4. a Convert the temperatures to fahrenheit.

# c to f: (0°C × 9/5) + 32 = 32°F

In [32]:
# create the new weather columns
# drop the old ones
weather = weather.withColumns(
{
    'max_temp': F.round(F.col('temp_max') * (9/5) + 32, 2),
    'min_temp': F.round(F.col('temp_min') * (9/5) + 32, 2)
}).drop('temp_max', 'temp_min')

## OR

In [65]:
# Celsius to Fahrenheit:   °C × 1.8 + 32 = °F

weather = weather.withColumn("temp_max_F", round(weather.temp_max*1.8 + 32, 1))
weather = weather.withColumn("temp_min_F", round(weather.temp_min*1.8 + 32, 1))
weather.show(10)

+----------+-------------+--------+--------+----+-------+----------+----------+
|      date|precipitation|temp_max|temp_min|wind|weather|temp_max_F|temp_min_F|
+----------+-------------+--------+--------+----+-------+----------+----------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|      55.0|      41.0|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|      51.1|      37.0|
|2012-01-03|          0.8|    11.7|     7.2| 2.3|   rain|      53.1|      45.0|
|2012-01-04|         20.3|    12.2|     5.6| 4.7|   rain|      54.0|      42.1|
|2012-01-05|          1.3|     8.9|     2.8| 6.1|   rain|      48.0|      37.0|
|2012-01-06|          2.5|     4.4|     2.2| 2.2|   rain|      39.9|      36.0|
|2012-01-07|          0.0|     7.2|     2.8| 2.3|   rain|      45.0|      37.0|
|2012-01-08|          0.0|    10.0|     2.8| 2.0|    sun|      50.0|      37.0|
|2012-01-09|          4.3|     9.4|     5.0| 3.4|   rain|      48.9|      41.0|
|2012-01-10|          1.0|     6.1|     0.6| 3.4|   rain|      43.0|      33.1|
+----------+-------------+--------+--------+----+-------+----------+----------+
only showing top 10 rows

## 4.b Which month has the most rain, on average?

In [33]:
# extract the month from the date
# calculate average rain for each month in aggregate
# sort the dataframe descending
weather.groupBy(
    F.month(
        F.col('date')
    )
).agg(
    F.round(
        F.avg(
            F.col(
                'precipitation')
        ), 2).alias('avg_rain')).sort(F.col('avg_rain'),
                                      ascending=False).first()

Row(month(date)=11, avg_rain=5.35)

## OR

In [66]:
max_rain_by_month = weather.groupBy(month('date').alias('month')).agg(avg('precipitation').alias('avg_rain')).sort(col('avg_rain').desc())
max_rain_by_month.show(1)

+-----+-----------------+
|month|         avg_rain|
+-----+-----------------+
|   11|5.354166666666667|
+-----+-----------------+
only showing top 1 row

## Which year was the windiest?

In [34]:
weather.groupBy(
    F.year(
        F.col('date')
    )
).agg(
    F.round(
        F.avg(
            F.col(
                'wind')
        ), 2).alias('avg_wind')).sort(F.col('avg_wind'),
                                      ascending=False).first()

Row(year(date)=2012, avg_wind=3.4)

## OR

In [67]:
max_wind_by_year = weather.groupBy(year('date').alias('year')).agg(avg('wind').alias('avg_wind')).sort(col('avg_wind').desc())
max_wind_by_year.show(1)

+----+------------------+
|year|          avg_wind|
+----+------------------+
|2012|3.4008196721311483|
+----+------------------+
only showing top 1 row

2012 was the windiest year

## What is the most frequent type of weather in January?

### weather in january, what weather type pops up the most?
### aggregate on the month of january,
### get the count of weather types where its the maximum

In [35]:
weather.filter(
    F.month(weather.date) == 1
).groupBy(
    F.col('weather')
).count().sort(F.col('count'), ascending=False).first()

Row(weather='fog', count=38)

# OR

In [68]:
mode_weather_jan = weather.filter(month('date') == 1).groupBy('weather').agg(count('weather').alias('cnt_weather')).sort(col('cnt_weather').desc())
mode_weather_jan.show(1)

+-------+-----------+
|weather|cnt_weather|
+-------+-----------+
|    fog|         38|
+-------+-----------+
only showing top 1 row

## What is the average high and low temperature on sunny days in July in 2013 and 2014?

### want to see: avg high and avg low
### conditions:
### weather == sun
### month == 7
### year in 2013 or 2014

In [37]:
weather.filter(
    (
        F.col('weather'
             ) == 'sun'
    ) & (
        F.month(F.col('date')
               ) == 7
    )
).filter(
    F.year(
        F.col('date')).isin(2013, 2014)).agg(
    F.round(
        F.avg(
            F.col('max_temp')),2).alias('avg_max'),
    F.round(
        F.avg(
            F.col('min_temp')),2).alias('avg_min')).show()

+-------+-------+
|avg_max|avg_min|
+-------+-------+
|  80.29|  57.53|
+-------+-------+

## OR

In [69]:
sunny_days = weather.filter(col("weather") == lit("sun")).filter(month('date') == 7).filter(year("date") > 2012).filter(year("date") < 2015).agg(avg("temp_max_F").alias("average_high_temp"), avg("temp_min_F").alias("average_low_temp"))
sunny_days.show()

+-----------------+------------------+
|average_high_temp|  average_low_temp|
+-----------------+------------------+
|80.29423076923078|57.513461538461556|
+-----------------+------------------+

.filter and .where are same like average and mean

In [102]:
weather.show(2)

+----------+-------------+--------+--------+----+-------+----------+----------+
|      date|precipitation|temp_max|temp_min|wind|weather|temp_max_F|temp_min_F|
+----------+-------------+--------+--------+----+-------+----------+----------+
|2012-01-01|          0.0|    12.8|     5.0| 4.7|drizzle|      55.0|      41.0|
|2012-01-02|         10.9|    10.6|     2.8| 4.5|   rain|      51.1|      37.0|
+----------+-------------+--------+--------+----+-------+----------+----------+
only showing top 2 rows

## What percentage of days were rainy in Q3 of 2015?

In [38]:
# conditions:
# quarter = 3
# year == 2015
# percent of days where it rained
weather.filter(
(F.quarter(F.col('date')) == 3) &
(F.year(F.col('date')) == 2015)
).withColumn(
    'rain_happen',
    F.when(
        F.col('weather') == F.lit('rain'),1).otherwise(0)
).agg(F.round(F.mean(F.col('rain_happen')) * 100,2).alias('avg_rain_days')).show()

+-------------+
|avg_rain_days|
+-------------+
|         2.17|
+-------------+

## OR

In [70]:
# measure a rainy day by weather == rain
(
    weather.filter(year("date") == 2015)
    .filter(quarter("date") == 3)
    .select(when(col("weather") == "rain", 1).otherwise(0).alias("rain"))
    .agg(mean("rain"))
    .show()
)

+--------------------+
|           avg(rain)|
+--------------------+
|0.021739130434782608|
+--------------------+

## For each year, find what percentage of days it rained (had non-zero precipitation).

In [39]:
weather

DataFrame[date: timestamp, precipitation: double, wind: double, weather: string, max_temp: double, min_temp: double]

#### how many days did it rain?
#### the percentage of days that have non-zero precipitation
#### 1 - find out days that have had more than zero precip, which
#### will result in a boolean value
#### that sounds like a setup for a 
#### F.when(#condition ==> did_rain bool)
#### once I have did_rain rendered as a boolean, I know that if I take the mean
#### of said boolean I will result with a rate as a result of the number of true instances
#### over the denominator of the number of rows in the df.
#### I want to know this for each year, so this process should happen in the scope
#### of an aggregation for year-by-year.

In [40]:
# things I know I will need:
# a groupby
# potentially a when statement*
weather.withColumn(
    'rain_happen',
    F.when(
        F.col('precipitation') > 0,
        1).otherwise(0)
).select('precipitation', 'rain_happen').show(5)

+-------------+-----------+
|precipitation|rain_happen|
+-------------+-----------+
|          0.0|          0|
|         10.9|          1|
|          0.8|          1|
|         20.3|          1|
|          1.3|          1|
+-------------+-----------+
only showing top 5 rows

In [41]:
# alternate method for grabbing truth values
# of did_rain: make the boolean comparison, cast as an integer
weather.withColumn(
    'rain_happen',
    (weather.precipitation > 0).cast('int')
).select('precipitation', 'rain_happen').show(5)

+-------------+-----------+
|precipitation|rain_happen|
+-------------+-----------+
|          0.0|          0|
|         10.9|          1|
|          0.8|          1|
|         20.3|          1|
|          1.3|          1|
+-------------+-----------+
only showing top 5 rows

In [42]:
# lets pick one of the previous code blocks and run with it
# to proceed forward with our yearly aggregation
weather.withColumn(
    'rain_happen',
    (weather.precipitation > 0).cast('int')
).groupBy(
    F.year(
        F.col(
            'date')
    )
).agg(
    F.round(F.mean('rain_happen') * 100, 2).alias('rain_percent')
).show()

+----------+------------+
|year(date)|rain_percent|
+----------+------------+
|      2012|       48.36|
|      2013|       41.64|
|      2014|        41.1|
|      2015|       39.45|
+----------+------------+

## OR

In [101]:
# measure a rainy day by precipitation > 0
(
    weather.filter(year("date") == 2015)
    .filter(quarter("date") == 3)
    .select(when(col("precipitation") > 0, 1).otherwise(0).alias("rain"))
    .agg(mean("rain"))
    .show()
)

+-------------------+
|          avg(rain)|
+-------------------+
|0.18478260869565216|
+-------------------+